
:root {
  --winsize1: 540px;
  --sect-hr-space: 50px;
}


/* General */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: white;
}
hr {
  color: rgb(192, 192, 192);
  width: 80%;
  padding-top: var(--sect-hr-space); padding-bottom: var(--sect-hr-space);
  height: 4px;
}
.text {
  font-family: "Inter";
  /* font-optical-sizing: auto; */
  font-size: 20px;
}
p {
  word-spacing: normal;
}
.sect-title {
  margin-bottom: 20px;
}
.subtitle {
  color: #B80090;
  font-size: 22px;
} 


/* Intro section */
#intro-sect {
  display: flex; flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 100px;
  padding-left: 20px; padding-right: 20px;
}
#profile-pic {
  width: 300px; height: auto;
  border-radius: 150px;
  margin-bottom: 15px; margin-right: 15px;
}
#intro-content {
  text-align: center;
  width: 80%;
}
#name {
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
}
.work-subtitle {
  margin-bottom: 0;
}
#profile-description {
  padding-left: 5px;
}
.gold-btn {
  width: 170px; padding: 10px 0px 10px 0px;
  border: none;
  border-radius: 35px;
  background-image: linear-gradient(to right, #FFD25F, #FFF0C8, #FFD25F);
  /* background-color: #FFD25F; */
}
#social-media-icons {
  display: flex; flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.icon {
  font-size: 30px;
  margin: 10px;
  color: #B80090;
}

@media (min-width: 700px) {
  #intro-sect {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #profile-pic {
    width: 300px; height: auto;
    border-radius: 150px;
    margin: 20px;
  }
  #intro-content {
    display: flex; flex-direction: column;
    align-items: start;
    width: 60%;
  }
}


/* Tech stack */
#tech-stack {
  display: flex; flex-direction: column;
  align-items: center;
}


/* Project section */
#project-sect {
  display: flex; flex-direction: column;
  align-items: center; text-align: center;
  width: 100vw;
}
.project {
  display: flex; flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
  width: 80%;
}
.proj-img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 3/2;
  margin: 20px;
}
.proj-content {
  width: 100%;
}

@media (min-width: 540px) {
  #project-sect {
    flex-direction: row;
    /* align-items: center; */ 
  }
  .project {
    flex-direction: row;
    align-items: center;
  }
  .proj-img {
    width: 50%;
  }
  .proj-content {
    width: 50%;
    text-align: start;
  }
}

/* Work section */
#work-sect {
  display: flex; flex-direction: column;
  width: 100vw;
  padding-bottom: calc(var(sect-hr-space)*2);
}
.work {
  display: flex; flex-direction: column;
  align-items: center;
  width: 80%;
}
.comment {
  font-size: 18px;
  color: grey;
  margin: 0px 0 10px 0;
}


/* Footer */
.footer {
  width: 100vw;
  /* position: absolute; bottom: 0; */
  padding: 20px 20px 20px 20px;
  background-color: #002C36;
  color: white;
  font-size: 18px;
}
#footer-title {
  font-family: "Kaushan Script";
  font-size: 25px;
  margin-bottom: 10px;
}
.footer-text {
  margin: 0 0 0 0;
}
#social-media-icons-footer {
  display: flex; flex-direction: row;
}
.last-footer-text {
  margin-bottom: 10px;
}
.footer-icon {
  font-size: 20px;
  margin: 10px;
  color: white;
}